@import "mixins";
html,body{width: 100%;}
li.active{border-bottom: 3px solid #e6423b;}

div#banner{
	height: 500px;
	div.slider-img{
		a{
			display:block;
			height: 500px;
			overflow: hidden;
			img{width: 100%; height: 100%; display:block;margin: 0 auto;}
		}
	}
	
}

div.swiper-container{
	height:500px;
	div.swiper-wrapper{
		div.swiper-slide{
			a{
				display:block;
				height: 500px;
				overflow: hidden;
				img{width: 100%; height: 100%; display:block;margin: 0 auto;}
			}
		}
	}
}
div#nav-pagination{
	
		ul{
			
			height:45px;
			border: 1px solid #d8d8d8;
			border-top: 0;
			
			li{
				border-left: 1px solid #d8d8d8;
				float: left;
				width: 198.83px;
				text-align: center;
				
				a{display: block;height: 100%;font: 12px/45px "";color: #696969;}
				
			}
			li:hover a{background: #e6423b;color: #FFFFFF;transition:.5s linear all;}
			li:nth-child(6){border-left: 0;}
		}
	}

div#main{
		div.main-top{
			height: 611px;
			background:url(../images/d12.png) no-repeat center center;
			ul{
				position: relative;
				width: 1000px;
				margin: 370px 0 0 282px;
				li{
					width: 200px;
					height: 150px;
					margin:0 18px;
					float: left;
					a{display: block;height: 100%;}
					}
				li:nth-child(5){width: 222px;height: 60px;position: absolute;top: -98px;left: 700px;}
				
			}
		}
		
		div.main-middle{
			
			div.title{
				margin-top:40px;
				position:relative;
				h3{font:30px/66px "";width:300px; position: absolute;top: -35px;left: 500px;}
				p{
					border-bottom: #000000 1px solid;
					
					}
			}
			ul.hotgoodsnav{
				margin-right: 0;
				margin:40px 0 0px 0;
				li{
					float: right;
					border-right:1px solid #e8e8e8;
					a{display: block;font:16px/28px "";padding: 0 22px;}
					}
				
			}
			div.hotgoodslist{
				ul{
					display:flex;flex-wrap: wrap;justify-content: space-between;transition:1s linear all;
					li{
						width:230px;height:330px;border: 1px solid #e8e8e8;margin:8px 0;
						a{
							width:100%;height: 100%;display: block;
							img{width: 80%;display: block;margin: 0 auto;}
							p.des-item{font:14px/24px "";width: 90%;margin: 0 auto;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
							p.price-item{font:700 26px/32px "";color:#e94a3e;text-indent: 10px;margin-bottom: 10px;}
							span{padding: 1px 5px;border:1px solid #eda562;color: #eda562;font:12px/18px "";border-radius: 3px;margin-left:10px;}
						}
					}
					li:hover img{transform: scale(1.05,1.05);transition:1s linear all;}
				}
				ul.lifeshow,ul.beautyshow,ul.milkshow,ul.hotshow,ul.momshow{display: none;}
			}
		}
		div.main-bottom{
			margin: 66px 0 0 0;
			ul.activelist{
				margin-top:50px;
				
				display:flex;flex-wrap: wrap;justify-content: space-between;
				li{
					width: 570px;height: 330px;border:1px solid #e8e8e8;
					margin-bottom: 30px;
					img{width: 100%;}
					p{font:700 16px/48px "";text-align: center;}
					}
				li:hover{box-shadow: 1px 2px 2px 1px #d8d8d8;transition:.5s linear all;}
			}
			
		}
	 
}